<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rangkai Soal Ujian</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body style="background:#e3f2fd">

    <div class="container mt-5 mb-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/posts#">Bank Soal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="create">Tambah Soal Ujian <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rangkai">Otomatisasi Soal Ujian</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ujian">Jadwal Ujian</a>
          </li>
          </ul>
          <span class="navbar-text">
            Automate Question
          </span>
        </div>
    </nav>
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Random Soal</h5>
            <p class="card-text">Total 30 soal dipilih secara otomatis dari bank soal</p>
            <a href="acak" class="btn btn-primary">otomatisasi Soal</a>
          </div>
        </div>

        <div class="card w-100 mt-2">
          <div class="card-body">
            <h5 class="card-title">Random Soal Berdasarkan Tingkat Kesulitan</h5>
            <p class="card-text">Soal dipilih secara otomatis dari bank soal berdasarkan tingkat kesulitan</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">10 soal Mudah</li>
              <li class="list-group-item">20 Soal Sulit</li>
            </ul>
            <a href="kesulitan" class="btn btn-info">otomatisasi Soal</a>
          </div>
        </div>

        <!-- <div class="card w-100 mt-2">
          <div class="card-body">
            <h5 class="card-title">Buat Soal Berdasarkan Materi Soal</h5>
            <p class="card-text">Total 30 soal dipilih secara otomatis dari bank soal berdasarkan materi soal</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">2 Soal Bab 1</li>
              <li class="list-group-item">3 Soal Bab 2</li>
              <li class="list-group-item">10 Soal Bab 3</li>
              <li class="list-group-item">3 Soal Bab 4</li>
              <li class="list-group-item">2 Soal Bab 5</li>
            </ul>
            <a href="materi" class="btn btn-warning">Buat Soal</a>
          </div>
        </div> -->
        
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>
</body>
</html>